<header>
  <div class="header-logo">
    <a href="/">Tea-wiki</a>
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">Tea-wikiとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>Tea-wikiとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="/tweets.png">
</div>